:root {
	--root-nav: 48px;
	--nav: 36px;
}

*::-webkit-scrollbar {
	width: 14px;
}

*::-webkit-scrollbar-track {
	background: #333;
}

*::-webkit-scrollbar-thumb {
	background: #666;
}

div {
	box-sizing: border-box;
}

html,
body,
#app {
	width: 100vw;
	height: 100vh;
	padding: 0;
	margin: 0;
	background: none;
	font-family: "Roboto Slab", serif;
	overflow: hidden;
}

nav,
.nav-wrap {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 100%;
	width: 100%;
}

nav {
	height: var(--nav);
	background: #222;
	flex-direction: row;
	color: #ccc;
}

nav.main {
	height: var(--root-nav);
	z-index: 2;
	position: relative;
	border-bottom: 2px solid #444;
	justify-content: space-between;
}

nav.sub {
	box-shadow: 0px 0px 4px 4px black;
}
